@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');



body{
    font-family: 'Otomanopee One', sans-serif;
    background: rgb(0,33,36);
    background: linear-gradient(90deg, rgba(0,33,36,0.8718837876947654) 0%, rgba(9,121,89,0.6001751042213761) 35%, rgba(0,212,255,0.7402311266303396) 100%);
}
.container{
    display:block;
    width: 60%;
    margin: auto;
    padding: 2rem;
    background-color: aliceblue;
    box-sizing:border-box;
    column-width: 50rem;
    border-radius: 1rem;
    
}
hr{
    border: 1px solid rgb(39, 39, 39);
    margin-bottom: 25px;

}
h1{
    font-size: 3rem;
    color: rgb(148, 19, 19);
    text-align: center;
}
h2{
    text-align: center;
    font-size: 2rem;
    color: rgb(226, 43, 58);
}
p{
    text-align: center;
    font-weight: 200;
}
input[type=text],input[type=number]{
    width: 50%;
    padding: 1rem;
    margin: 5px 0 22px 0;
    display: inline-block;
    border:1px solid black;
    background: #f1f1f1;
}
input[type=text]:focus,input[type=number]:focus{
    background-color: #ddd;
    outline: none;
}
.submit-btn {
    background-color: #176d7c;
    color: white;
    padding: 16px 20px;
    margin: .5rem;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
    font-size: 1.2rem;
    border-radius: 1rem;
}
button a{
    color: #ddd;
    text-decoration: none;
    font-size: 1.5rem;
}
.submit-btn:hover {
    opacity: 1;
}

.prev-btn {
    background-color: #036839;
    color: white;
    padding: 16px 20px;
    margin: .5rem;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
    font-size: 1.2rem;
    border-radius: 1rem;
}
button a{
    color: #ddd;
    text-decoration: none;
    font-size: 1.5rem;
}
.prev-btn:hover {
    opacity: 1;
}


.reset-btn {
    background-color: #ca0732;
    color: white;
    padding: 16px 20px;
    margin: .5rem;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
    font-size: 1.2rem;
    border-radius: 1rem;
}
button a{
    color: #ddd;
    text-decoration: none;
    font-size: 1.5rem;
}
.reset-btn:hover {
    opacity: 1;
}

