@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');



body{
    font-family: 'Otomanopee One', sans-serif;
    background: rgb(0,33,36);
    background: linear-gradient(90deg, rgba(0,33,36,0.8718837876947654) 0%, rgba(9,121,89,0.6001751042213761) 35%, rgba(0,212,255,0.7402311266303396) 100%);
}
.container{
    display:block;
    width: 60%;
    margin: auto;
    padding: 2rem;
    background-color: aliceblue;
    box-sizing:border-box;
    column-width: 50rem;
    border-radius: 1rem;
    text-align: center;
    margin-top: 4rem;
}
hr{
    border: 1px solid rgb(39, 39, 39);
    margin-bottom: 25px;
}
h1{
    font-size: 3rem;
    color: brown;
}
h5{
    font-size:1.5rem;
}
.btn-act {
    display: block;
    background-color: #3e1897;
    color: white;
    padding: 16px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 250px;
    height: 80px;
    opacity: 0.9;
    font-size: 1.5rem;
    border-radius: 1rem;
}
button a{
    color: #ddd;
    text-decoration: none;
}
.btn-act:hover {
    opacity: 1;
}
 